#footer
  a.mainBtn(href='http://google.com', target='_blank') Main page
  .right
    .link-container
      a(href='#') Digital Desgins
      a(href='#website') Websites
      a(href='#mobile-apps') Mobile Applications
