#digital-designs
  .popularResolution.para-totalCenterAlign
    .fastLayer(style='right: 450px;\
    top: 450px;')
      div(alt='1.1')
        div(style='width:220px;height:400px;background: url(static/img/digital-designs/business-cards.png); background-repeat: no-repeat;background-position: center center;')
    .fastLayer(style='right: 500px;\
    top: 450px;')
      div(alt='0.9')
        div(style='width:200px;height:340px;background: url(static/img/digital-designs/pen.png); background-repeat: no-repeat;background-position: center center;')
    .fastLayer(style='right: 760px;\
    top: 390px;')
      div(alt='1')
        div(style='width:210px;height:400px;background: url(static/img/digital-designs/phone.png); background-repeat: no-repeat;background-position: center center;')
    .fastLayer(style='right: 600px;\
    top: 40px;')
      div(alt='1')
        div(style='width:577px;height:400px;background: url(static/img/digital-designs/ipad.png); background-repeat: no-repeat;background-position: center center;')
    .story
      .padded
        h1 Digital Designs
        p.tagline
          | Offers a wide range of designing solutions that is aligned with the client’s corporate identity
