.loadBackground(style='background: white; height: 100vh: width: 100vw;')
.preloaderCont
  span.ending
    img(src='static/img/logo/filled.svg')
  span.starting
    img(src='static/img/logo/black.svg')
