#website
  .popularResolution.para-totalCenterAlign
    // You can create much simpler and fully working layers than that, but nested structure gives you more flexibilty.
    .fastLayer(style='right: 825px;\
    top: -20px;')
      div(alt='2')
        div(style='width:720px;height:600px;background: url(static/img/website/tv.png); background-repeat: no-repeat;background-position: center center;')
    .fastLayer(style='right: 355px;\
    top: 300px;')
      div(alt='1.1')
        div(style='width:220px;height:400px;background: url(static/img/website/ipad.png); background-repeat: no-repeat;background-position: center center;')
    .fastLayer(style='right: 1200px;\
    top: 325px;')
      div(alt='0.9')
        div(style='width:700px;height:340px;background: url(static/img/website/laptop.png); background-repeat: no-repeat;background-position: center center;')
    .story
      .padded
        h1 Website
        p.tagline.website
          | Offers a wide range of designing solutions that is aligned with the client’s corporate identity
