doctype html
html
  head
    include partials/header
  body.unloaded
    include sections/loader
    #parallax
      // <img alt=".1" class="parallaxBackground" src="static/img/bck.png">
      include sections/digital-designs
      
      include sections/website
      
      include sections/mobile-applications
    
    include partials/footer
    
    div(style='display:none')
      | Placed here just to make the preloader busy.
      img(src='http://other.com/static/img/lp/ipad/5.png')
      img(src='http://hti.kdf/static/img/mainPage/intro/2.png')
      img(src='http://what.dkjf/static/img/cryingCyan.png')
    script(type='text/javascript', src='static/js/third_party/jquery.js')
    script(type='text/javascript', src='static/js/third_party/jquery.mousewheel.js')
    script(type='text/javascript', src='static/js/third_party/jquery.custom.js')
    script(type='text/javascript', src='static/js/third_party/modernizr.custom.js')
    script(type='text/javascript', src='static/js/parallax.js')
    script(type='text/javascript', src='static/js/main.js')
